//Constants for colors
$bgColor: rgb(236, 241, 245);
$navContainerColor: rgb(31, 72, 118);
//$navContainerColor: rgb(71, 44, 130);
$grey: rgb(241, 240, 240);
$dividerColor: rgba(white, 0.2);
$highlight: rgb(0, 101, 200);
$textColor: rgb(31, 30, 30);
$linkColor: rgb(65,151,218);
$cardColor: rgb(255, 255, 255);
$primaryColor: #2F343F;
$secondaryColor: #262B33;
$tertiaryColor: rgba(white, 0.05);
$overlayColor: rgba(white, 0.5);

$primaryTextColor: rgba(white, 0.85);

//Contstants for font weights
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$black: 900;

//Element sizes
$headerHeight: 75px;
$sidebarWidth: 230px;
$borderRadius: 10px;
