@import "./src/Variables";


.passport-ocr-page-container {
    

    .passport-file-input-container {
        width: 60vw;
        top: 15vh;
        margin: 0 auto;
        position: relative;

        &.hide {
            display: none;
        }

        .passport-loading-overlay-container {

            &.hide {
                display: none;
            }
        }
    }

    .file-output-state-container {
        
        padding: 0px 50px;
        padding-top: 40px;

        &.hide {
            display: none;
        }

        button {
            background-color: white; 
            border: 1px solid rgba(black, 0.2);
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 3px;
            cursor: pointer;
            font-weight: $medium;
            transition: background-color 0.2s;

            &:hover {
                background-color: rgba(white, 0.8);
            }
        }

        .file-output-state-content-container {
            
            padding-top: 20px;

            .ocr-image-container {
                display: flex;
                padding-bottom: 20px;
                align-items: flex-start;

                .ocr-image-wrapper {
                    flex: 1;
                    border-radius: 3px;
                    overflow: hidden;

                    .ocr-image {
                        
                        width: 100%;
                    }
                }

                .ocr-passport-container {
                    flex: 1;
                    margin-left: 30px;
                    background: white;
                    padding: 10px 20px;
                    border-radius: 5px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .field-container {
                        width: 48%;
                        color: black;
                        margin: 10px 0px;
                        
                        .name {
                            color: #6270C8;
                            display: inline-block;
                            padding: 4px 10px;
                            align-self: flex-start;
                            background: #E1E5F9;
                            border-radius: 4px;
                        }

                        .value {
                            color: #4C5484;
                            display: block;
                            padding: 4px 10px;
                            background: #E6E6E6;
                            margin-top: 6px;
                            font-weight: bold;
                            border-radius: 4px;
                        }
                    }
                }
            }
        } 
    }
}